<div class="btn-group">
    <div class="btn-group">
        <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_db_app_app_info_path(obj.id), :class => "btn btn-xs btn-default", :'data-toggle' => "tooltip", :'data-original-title' => "Edit"%>

        <%= link_to '<i class="fa fa-times"></i>'.html_safe, db_app_app_info_path(obj.id), :method => :delete, :class => "btn btn-xs btn-default", :'data-toggle' => "tooltip", :'data-original-title' => "Remove", :'data-confirm' => "Confirm remove the item?"%>

        <%= link_to '<i class="fa fa-search"></i>'.html_safe, db_app_app_info_path(obj.id), :class => "btn btn-xs btn-default", :'data-toggle' => "tooltip", :'data-original-title' => "Show"%>
    </div>
</div>