<div>
  <%= link_to(
      '<i class="fa fa-chevron-up"></i>'.html_safe,
      url_for(grid.param_name => grid.as_query.merge(:order => column.name, :descending => false)),
      :class => "asc") %>
  <%= link_to(
      '<i class="fa fa-chevron-down"></i>'.html_safe,
      url_for(grid.param_name => grid.as_query.merge(:order => column.name, :descending => true )),
      :class => "desc") %>
</div>
