<div class="block">
  <div class="block-header">
    修改User
  </div>
  <div class="block-content">
    <%= simple_form_for @user, html: { class: 'form-horizontal' }, url: user_path(@user) do |f| %>
      <%= render :partial => 'form', :locals => {f: f} %>
    <% end %>
  </div>
</div>
