<div class="block">
  <div class="block-header">
    新建User
  </div>
  <div class="block-content">
    <%= simple_form_for @user, url: users_path  do |f| %>
      <%= render :partial => 'form',:locals => {f: f} %>
    <% end %>
  </div>
</div>