<% content_for(:page_header) do %>
  <%= "Database" %>
<% end %>
<% content_for :panel_heading do %>Edit App: app_info<% end %>
<div class="block">
  <div class="block-content">
    <%= simple_form_for @app_info, html: { class: 'form-horizontal' }, url: db_app_app_info_path(@app_info) do |f| %>
      <%= render :partial => 'form', :locals => {f: f} %>
    <% end %>
  </div>
</div>
