<%% content_for(:page_header) do %>
  <%%= "Database" %>
<% end %>
<%% content_for :panel_heading do %>Create <%= db_name %>: <%= model_name %><% end %>

<div class="block">
  <div class="block-content">
    <%%= simple_form_for @app_info, url: db_<%= all_instance_name.pluralize %>_path  do |f| %>
      <%%= render :partial => 'form',:locals => {f: f} %>
    <%% end %>
  </div>
</div>